<h1>{{title}}</h1>

<div class="add">
    <form (submit)="onSubmitCreate()">
        <h3>Submit a cake to be rated</h3>
        <p><label for="baker">Baker name:</label><input type="text" name="baker" [(ngModel)]="newCake.baker"/></p>
        <p><label for="image">Image url:</label><input type="text" name="image" [(ngModel)]="newCake.image"/></p>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="list">
    <ul *ngFor="let cake of cakes" >
        <div>
            <img src="{{cake.image}}" (click) = "onClickFetchOneCake(cake._id)" alt="cake" class="sm_img">
            <form (submit)="onSubmitEdit(cake._id)">
                <p><label for="rating">Rating:</label><select name="newRating.rating" [(ngModel)]="newRating.rating">
                    <option value="5">5 stars</option>
                    <option value="4">4 stars</option>
                    <option value="3">3 stars</option>
                    <option value="2">2 stars</option>
                    <option value="1">1 star</option>
                </select></p>
                <p><label for="comment">Comment:</label><textarea name="newRating.comment" [(ngModel)]="newRating.comment" id="comment" cols="30" rows="5"></textarea></p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </ul>
</div>
<app-details *ngIf="cakeToShow" [onClickFetchOneCake]="cakeToShow" [average]="avg"></app-details>




