.details{
    img{
        width: 400px;
        height: 400px;
    }
    .rate{
        display: inline-block;
        vertical-align: top;
        margin-left: 75px;
        h3{
            display: inline-block;
        }
    }
}
