.edit{
    a h2{
        font-size:16px;
        text-decoration: underline;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h2{
        margin-bottom: 30px;
    }
    form{
        p{
            margin-bottom: 30px;
        }
        label{
            font-size:18px;
        }
        input{
            margin-left: 20px;
        }
        button{
            margin-right: 30px;
        }
    }
}